<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>杭州悦玩网络日报系统</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/xadmin.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--ckeditor-->
    <script src="https://cdn.ckeditor.com/ckeditor5/11.2.0/classic/ckeditor.js"></script>

    <!--jstree-->
    <style>
        .demo {
            overflow: auto;
            min-height: 100px;
        }
    </style>
    <link rel="stylesheet" href="/css/style.min.css"/>
</head>

<body>
<div class="x-body">
    <div class="layui-form-item">
        <label for="allItemCat" class="layui-form-label">
        </label>
        <div class="layui-input-inline">
            <button id="allItemCat" class="layui-btn">
                点击选择类目
            </button>
        </div>
    </div>
    <form class="layui-form" id="item_form">
        <!--项目分类-->
        <div class="layui-form-item">
            <label for="cname" class="layui-form-label">
                <span class="x-red">*</span>分类
            </label>
            <div class="layui-input-inline">
                <input type="text" id="cname" name="cname"
                       autocomplete="off" class="layui-input" required="required" readonly="readonly" style="background-color: #92B8B1">
            </div>

            <div id="evts" class="demo"></div>
        </div>
        <input type="text" id="cid" name="cid" hidden="hidden"/>
        <br/><br/>
        <!--项目名称-->
        <div class="layui-form-item">
            <label for="name" class="layui-form-label">
                <span class="x-red">*</span>项目名称
            </label>
            <div class="layui-input-inline">
                <input type="text" id="name" name="name" required="required"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <!--项目简介-->
        <div class="layui-form-item">
            <label for="intro" class="layui-form-label">
                <span class="x-red">*</span>项目简介
            </label>
            <div class="layui-input-inline">
                <input type="text" id="intro" name="intro" required="required"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <!--短标题-->
        <div class="layui-form-item">
            <label for="shortTitle" class="layui-form-label">
                <span class="x-red">*</span>短标题
            </label>
            <div class="layui-input-inline">
                <input type="text" id="shortTitle" name="shortTitle" required="required"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <!--项目图片-->
        <div class="layui-form-item">
            <label for="file" class="layui-form-label">
                <span class="x-red">*</span>图片
            </label>
            <div class="layui-input-inline">
                <input type="file" id="file" name="file"
                >
            </div>
        </div>
        <input type="text" id="image" name="image" hidden="hidden"/>
        <img id="tupian" name="tupian">
        <br/><br/>
        <!--筹资金额-->
        <div class="layui-form-item">
            <label for="raiseMoney" class="layui-form-label">
                <span class="x-red">*</span>筹资金额
            </label>
            <div class="layui-input-inline">
                <input type="text" id="raiseMoney" name="raiseMoney" lay-verify="raiseMoney" required="required"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <!--筹资天数-->
        <div class="layui-form-item">
            <label for="financingDays" class="layui-form-label">
                <span class="x-red">*</span>筹资天数
            </label>
            <div class="layui-input-inline">
                <input type="text" id="financingDays" name="financingDays" lay-verify="financingDays" required="required"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <!--项目内容-->
        <div class="layui-form-item">
            <label for="itemDetail" class="layui-form-label">
                <span class="x-red">*</span>项目内容
            </label>
            <div class="layui-input-block">
                <textarea id="itemDetail" name="itemDetail" rows="30" cols="38"></textarea>
            </div>
        </div>
        <!--联系人-->
        <div class="layui-form-item">
            <label for="linkmanName" class="layui-form-label">
                <span class="x-red">*</span>联系人名字
            </label>
            <div class="layui-input-inline">
                <input type="text" id="linkmanName" name="linkmanName" required="required"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <!--自我介绍-->
        <div class="layui-form-item">
            <label for="linkmanIntroduction" class="layui-form-label">
                <span class="x-red">*</span>联系人自我介绍
            </label>
            <div class="layui-input-inline">
                <input type="text" id="linkmanIntroduction" name="linkmanIntroduction" required="required"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <!--邮箱-->
        <div class="layui-form-item">
            <label for="linkmanEmail" class="layui-form-label">
                <span class="x-red">*</span>邮箱
            </label>
            <div class="layui-input-inline">
                <input type="text" id="linkmanEmail" name="linkmanEmail" lay-verify="email"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <!--电话-->
        <div class="layui-form-item">
            <label for="linkmanPhone" class="layui-form-label">
                <span class="x-red">*</span>电话
            </label>
            <div class="layui-input-inline">
                <input type="text" id="linkmanPhone" name="linkmanPhone" lay-verify="phone"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <!--二维码-->
        <div class="layui-form-item">
            <label for="twoCode" class="layui-form-label">
                <span class="x-red">*</span>二维码
            </label>
            <div class="layui-input-inline">
                <input type="file" id="twoCode" name="twoCode" required="required"/>
            </div>
        </div>
        <input type="text" id="linkmanQrCode" name="linkmanQrCode" hidden="hidden"/>
        <img id="codeImage" name="codeImage">
    </form>
    <br/>
    <!--提交按钮-->
    <div class="layui-form-item">
        <label for="add" class="layui-form-label">
        </label>
        <button id="add" class="layui-btn">
            增加
        </button>
    </div>
</div>

<!--表单验证与提交-->
<script>
    var layer = layui.layer;
    //ckeditor富文本创建
    let editor;
    ClassicEditor
        .create(document.querySelector('#itemDetail'))
        .then(newEditor = > {
        editor = newEditor;
    } )
    .catch(error = > {
        console.error(error);
    } )
    ;
    //提交事件
    $("#add").click(function () {
        var edata = editor.getData();
        $("#itemDetail").val(edata);
        var number = /^\d+$/;
        var email = /^([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\_|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}$/;
        var phone = /^(\(\d{3,4}\)|\d{3,4}-)?\d{7,8}$/;
        var str = /^[^\s]+$/;
        if (!number.test($("#raiseMoney").val())) {
            alert("筹资金额只能为数字");
            return;
        }
        if (!number.test($("#financingDays").val())) {
            alert("筹资时间只能为数字");
            return;
        }

        if (!email.test($("#linkmanEmail").val())) {
            alert("邮箱格式不合法");
            return;
        }
        if (!str.test($("#intro").val())) {
            alert("项目介绍不能为空");
            return;
        }
        if (!str.test($("#linkmanIntroduction").val())) {
            alert("自我介绍不能为空");
            return;
        }
        if (!str.test($("#linkmanName").val())) {
            alert("联系人名字不能为空");
            return;
        }
        if (!str.test($("#name").val())) {
            alert("项目名称不能为空");
            return;
        }
        if (!str.test($("#cname").val())) {
            alert("类目不能为空");
            return;
        }
        var data = $("#item_form").serialize();
        $.ajax({
            type: 'post',
            url: '/item/add',
            cache: false,
            data: data,  //重点必须为一个变量如：data
            dataType: 'json',
            success: function (data) {
                layer.alert(data.message, {icon: 6}, function () {
                    // 获得frame索引
                    var index = parent.layer.getFrameIndex(window.name);
                    //关闭当前frame
                    parent.layer.close(index);
                });
            },
            error: function () {
                alert("请求失败")
            }
        });

    });
</script>

<script>
    $(function () {
        $("#file").change(function () {
            var formdata = new FormData();
            formdata.append('file', $('#file').get(0).files[0]);
            $.ajax({
                url: '/upload',
                type: 'post',
                contentType: false,
                data: formdata,
                processData: false,
                success: function (info) {
                    $('#tupian').attr('src', "/static/" + info);
                    $("#image").val(info);
                },
                error: function (err) {
                    console.log(err)
                }
            });
        });
    });

    <!--二维码上传与回显-->
    $(function () {
        $("#twoCode").change(function () {
            var formdata = new FormData();
            formdata.append('file', $('#twoCode').get(0).files[0]);
            $.ajax({
                url: '/upload',
                type: 'post',
                contentType: false,
                data: formdata,
                processData: false,
                success: function (info) {
                    $('#codeImage').attr('src', "/static/" + info);
                    $("#linkmanQrCode").val(info);
                },
                error: function (err) {
                    console.log(err)
                }
            });
        });
    });
</script>
<!--类目树-->
<script src="http://www.jq22.com/jquery/1.11.1/jquery.min.js"></script>
<script src="/js/jstree.min.js"></script>
<script>
    var treeCat = null;
    $("#allItemCat").click(function () {
        $.get("/itemCat/all", function (tree) {
            treeCat = tree;
            $('#evts')
                .on("changed.jstree", function (e, data) {

                    if (data.selected.length) {
                        $("#cname").val(data.instance.get_node(data.selected[0]).text);
                        $("#cid").val(data.instance.get_node(data.selected[0]).id);
                    }
                })
                .jstree({
                    'core': {
                        'multiple': false,
                        'data': treeCat
                    }
                });
        });
    });
</script>


</body>

</html>